* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.medOverview {
    width: inherit;
    height: inherit;
    flex: 1;
}

.needsRefill {
    border: 1px solid;
    flex: 1;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #feabbd;
    height: 100%;
}

section {
    height: inherit;
    width: inherit;
}